// COLORS
$color-primary: #b2a07f;
$color-primary-light: #fff6e5;
$color-primary-lesslight: #dbd5c9;
$color-primary-dark: #6e5a35;

$color-secondary-light: #f1de0a; //tiff
$color-secondary-dark: #b3a106;

$color-tertiary-light: #19ebba; //tiff
$color-tertiary-dark: #0da17f; //tiff

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;