.header {
    //header 2 harp hands
    height: 85vh;
    
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.0),
        rgba($color-primary-dark, 0.7)),
        url(https://res.cloudinary.com/take2tech-ca/image/upload/v1550592300/HarpHands.jpg);
    // background-image: linear-gradient(
    //     to right bottom,
    //     rgba($color-primary-light, 0.0),
    //     rgba($color-primary-dark, 0.7)),
    // url(../img/HarpHands.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75vh);
        height: 95vh;
    }
    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
            only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
            only screen and (min-width: 125em) {
        background-image: linear-gradient(
            to right bottom,
            rgba($color-primary-light, 0.8),
            rgba($color-primary-dark, 0.8)),
        url(https://res.cloudinary.com/take2tech-ca/image/upload/v1550592300/HarpHands.jpg);
    }

    @include respond(portrait) {
        background-position: bottom right;
    }
    @include respond(tab-port) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);  
        //margin-bottom: 8rem;         
    }

    &__text-box {
        position: absolute;
        top: 55%;
        @include respond(phone) {
            top: 50%; 
        }
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        &--heading-secondary {
            font-family: "savoye", 'tangerine', sans-serif;
            font-weight: 400;
            font-size: 65px;
            color: white;

            @include respond(phone) {
                font-size: 55px;
                line-height: 1.3;
            }
        }
    }
}