.header__topLine {
    
    display: flex;
    justify-content: space-between;
    
    &--logo {
        height: 3.5rem;
       
        &-box {          
            position: absolute;
            top: 4rem;
            left: 4rem;
        }
    }
       
    &--navigation {
            &-list {
                display:flex;
            position: absolute;
            top: 2%;
            right: 2%;
            list-style: none;
            text-align: center;
        }

        &-item {
            margin: 1rem;
        }

        &-link {
            &:link,
            &:visited {
                display: inline-block;
                font-size: 1.8rem;
                font-weight: 300;
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
                background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
                background-size: 220%;
                border: 1px transparent white;
                transition: all .4s;
                
    
                span {
                    margin-right: 1.5rem;
                    display: inline-block;
                }
            }
            
            &:hover,
            &:active {
                // background-position: 100%;
                // color: $color-primary;
                // transform: translateX(1rem);
                border-bottom: 1px solid white;
            }
        }  
    }
    
    //FUNCTIONALITY
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
    }


    //ICON
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before { top: -.8rem; }
        &::after { top: .8rem; }
    }

    &__button:hover &__icon::before {
        top: -1rem;
    }

    &__button:hover &__icon::after {
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked + &__button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }
}