.aboutContainer {
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
    url(../img/HarpHands.jpg);
    background-position: center;
    padding: 5rem;
    height: 70rem;   
}