.composition {
    position: relative;
    width: 300px;  
    height: 400px;    
    //background-color: tomato;    
    margin: auto;   

    &__photo {
        width: 20em;
        height: 25em;
        margin: auto;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 24px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 2rem;

        @include respond(tab-port) {
            margin-top: 5em;
            height: 21em;
            border-radius: 8px;   
            transform: scale(1.2);
            float: left;
            position: relative;
            box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
        }

        &--p1 {
            left: -2em;
            top: -2.5em;
            height: 29em;         
            @include respond(tab-port)  {
                top: -5em;    
                left: 3em;       
                height: 21em;
                width: 15em;
                border-radius: 8px;   
                transform: scale(1.2);  
            }
            @include respond(phone) {
                         
            }
        }
        &--p2 {
            left: 14em;
            top: 1em;
            height: 29em;

            @include respond(tab-port)  {
                top: -2em;   
                left: 3.5em;     
                height: 21em;
                width: 15em;
                border-radius: 8px;   
                transform: scale(1.2);
                z-index: 100;
            }
            @include respond(phone) {
                 
            }
        }

        &--p3 {
            left: 5em;
            top: 22em;
            height: 29em;       

            @include respond(tab-port)  {
                top: -10em;     
                left: 10em;   
                height: 21em;
                width: 14em;  
                border-radius: 8px;   
                transform: scale(1.2);
                z-index: 200;      
            }
        }

        &:hover {
            outline: 1.5rem solid $color-primary;
            transform: scale(1.05) translateY(-.5rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
            z-index: 20;
        }

    }

    &:hover &__photo:not(:hover) {
        transform: scale(.95);
    }
    //composition:hover composition__photo:not(:hover) {
}