.story {
    width: 75%;
    margin: 5% auto; 
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 2rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
        padding: 2rem;
    }

    @include respond(phone) {
        transform: skewX(0);
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        overflow: hidden;
        border-radius: 50%;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
            -webkit-shape-outside: circle(50% at 50% 50%);
            shape-outside: circle(50% at 50% 50%);
            border-radius: none;
        }

        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__text {
        margin: 5rem;  
        @include respond(phone) {
            margin:1rem;    
        }  
        transform: skewX(12deg);

        &p>span {
            font-style: italic;
            font-size: 72px;
        }

        @include respond(phone) {
            transform: skewX(0);
        }
        &>p>span:nth-of-type(1),
        &>p>span:nth-of-type(2)
         {            
            font-family: 'alex brush', 'cursive'; 
            font-size: 30px;    
            line-height: .3;        
        }
    }
}